body {
    text-align: center;
}
.btn {
    height: 200px;
    width:200px;
    border-radius: 20%;
    border:10px solid black;
    margin:2rem;
}
.btn_container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.pink {
  background-color: #d28a8c;
}
.blue {
background-color: #5b96a9;
}
.yellow{
     background-color: #cea64a;
}
.green {
  background-color: #367050;
}
.flash{
    background-color: white;
}
.userflash{
  background-color: green;
}